!!! 5
%html{"lang" => "en"}
  %head
    %meta{"charset" => "utf-8"}
    %title Ian Young
    = stylesheets
    = javascripts "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"
    = javascripts :pjax
    = javascripts :proudify
    = javascripts "simple_tabs"
    = javascripts :application
  %body
    = partial('nav')
    #content
      .shim
        = yield
