#film
  %p.description
    I've dabbled in film over the years. Here are some films I made
    for Grinnell College's epic film festival, Titular Head.
    You can find all of my work on
    <a rel="me" href="http://vimeo.com/iangreenleaf">Vimeo</a>.

  #2008
    = vimeo 952487, "Drop"
    = vimeo 953067, "Rick Burn'd"
  #2007
    #nazis
      = vimeo 951870, "Fun With Nazis"
      .disclaimer
        Please note: I am not as bad a person as this video may
        make you think I am.
  #2006
    = vimeo 956058, "Titular Head Eats Itself"
  #2005
    = vimeo 1070675, "Squirrels"
#photo
  %p.desc
    .description
      I also dabble, very occasionally, in photography. Some of my photos are on
      <a rel="me" href="http://www.flickr.com/photos/iangreenleaf/">Flickr</a>.
    = flickr "http://farm3.static.flickr.com/2209/2188462865_8ce3abd18a.jpg", "A fat squirrel"
    = flickr "http://farm2.static.flickr.com/1155/969665884_8406161ed2.jpg", "King's Canyon, South Australia"
    = flickr "http://farm3.static.flickr.com/2189/2244327143_674e55545a.jpg", "Winter in Grinnell, Iowa"
