%article.hobbies
  %h1 Hobbies
  %section#films
    %h1 Films
    %p.description
      I've dabbled in film over the years. Here's a couple shorts I made
      for Grinnell College's epic film festival, Titular Head.
      There's a few more if you
      <a rel="me" href="http://vimeo.com/iangreenleaf">know where to look</a>.

    #2008
      = vimeo 952487, "Drop"
    #2005
      = vimeo 1070675, "Squirrels"
  %section#photos
    %h1 Photos
    %p.desc
      .description
        I also dabble, very occasionally, in photography. Some of my photos are on
        <a rel="me" href="http://www.flickr.com/photos/iangreenleaf/">Flickr</a>.
      = flickr "http://farm3.static.flickr.com/2209/2188462865_8ce3abd18a.jpg", "A fat squirrel"
      = flickr "http://farm2.static.flickr.com/1155/969665884_8406161ed2.jpg", "King's Canyon, South Australia"
      = flickr "http://farm3.static.flickr.com/2189/2244327143_674e55545a.jpg", "Winter in Grinnell, Iowa"
