%article.resume
  %section
    %h1 Hire me
    %p
      I am available for <span class="tech">Rails</span> (or <span class="tech">Ruby</span>)
      contract work. Need a stellar Rails developer with a proven track record?
      = link_to "Get in touch.", "mailto:dev@iangreenleaf.com"
  %div#offerings
    %ul.tabs
      %li= link_to "Existing applications", "#existing-applications"
      %li= link_to "New applications", "#new-applications"
      %li= link_to "About me", "#about-me"
    %section#existing-applications.tab
      %h2 Your Rails app needs a Life Coach
      %p
        Your Rails app has worked hard and done pretty well for himself.
        Now it's time to take it to the next level.
        Let me work with your Rails app to fulfill his
        hopes and dreams.
      %p
        Let's increase your app's happiness and <em>your</em> happiness at the
        same time. Speed, features, and ease of development don't have to be at
        odds with each other. It just takes a little planning.
        Clean code means fewer bugs and happier developers. Picking the
        <em>right</em> solution is much more important than working yourself to the bone.
      %h3 Make time for what matters
      %p
        We all need a little direction at times. Maybe your Rails app has lost track of
        what matters most in his life. I'll work with you to determine what's
        truly important to your app, and help you plan how to focus development
        energy on the crucial bits without getting crowded out by distractions.
      %h3 Achieve new levels of performance
      %p
        Maybe your Rails app has been feeling sluggish and unmotivated lately.
        That's okay, it happens to all of us! The best optimization doesn't involve
        brute force -- it's all about identifying the true pain points that
        will give the most bang for your buck. We'll work to find the
        optimizations that are important to <em>you</em>, and together we'll
        have the little fellow back in fighting trim in no time.
      %h3 Learn new tricks
      %p
        Progress is important, but chances are your Rails app has already experienced
        the penalties of a haphazardly-implemented feature. Having priorities in
        hand is the secret to adding features that fit your budget and work
        flawlessly. I'll show you how much we can expect to accomplish in a given
        amount of time, and which corners we can safely cut to speed things up.
      %h3 Out with the old
      %p
        Whose closet doesn't get a little messy when we're busy?
        Your Rails app needs to focus on meeting his goals, not on the detritus
        of the past. I'll help you ferret out old cruft that's slowing
        you down, and remove it with a minimum of fuss. Let's pare your code
        down to its gleaming core.
      %h3 Protect what you care about
      %p
        When your Rails app was a broke student, it was okay if he left his
        door unlocked. These days, it would be wise to be a little more prudent.
        I'll check your application for common security flaws and help you fix
        them. You've never known how painless good security practices can be until
        you've tried it in Rails!
    %section#new-applications.tab
      %h2 Give your Rails app a head start in life
      %p
        A new project is a blank slate, and a chance to start something wonderful.
        It's also an important time to invest in a healthy living environment
        so your app can flourish. I'll guide you through the process of new
        app parenthood and work to ensure both your app's happiness and <em>your</em>
        happiness.
      %h3 What to expect when you're implementing
      %p
        The only surprises you want out of your Rails app are the ones you
        have planned! I write idiomatic Ruby, apply industry best practices,
        and use proven technologies. This makes the code an asset rather than
        a hindrance once the initial project is finished -- any skilled Rails
        developer can pick it up and quickly
        understand what's going on. Want to contract ongoing hours with me for
        maintenance and new features? I'd be happy to. Want to bring in other
        developers, or continue the project in-house? That's great too!
        It's <em>your</em> project, so I'm going to produce code that's
        valuable to <em>you</em>.
      %h3 Make time for what matters
      %p
        Before your Rails app takes off running, let's make sure he's headed in
        the right direction. The secret to getting a project done on time and
        in style is fully understanding your priorities. I'll work with you to
        identify the technical challenges involved in your vision.
        I'll show you how much we can expect to accomplish in a given
        amount of time, and which corners we can safely cut to speed things up.
        And I'll keep an eye on the project scope as we go -- making adjustments
        is a good thing, but always with a good understanding of how they will
        affect the project as a whole.
      %h3 Catch every precious moment
      %p
        The software lifecycle doesn't need to feel like pupation, where you
        hold your breath for six weeks before finding out if your Rails app is
        the beautiful butterfly you were hoping for. Agile software development
        means regular feedback cycles. You'll get to see your app take shape
        before your eyes, and we'll use the functional prototype to test and
        refine the final behavior of the application.
    %section#about-me.tab
      %h2 The right man for the job
      %p
        I'm a full-stack Rails developer, though if forced to choose, I enjoy
        back-end work a bit more. I love working with small companies, and have
        cultivated my skills as a technological generalist accordingly. Small
        project? Big project? It's all good. Solo development? Team collaboration?
        Variety is the spice of life.
      %h3 Experience is key
      %p
        I have an established track record working on projects
        of all sizes. I've
        <a href="https://github.com/rails/rails/commits?author=iangreenleaf">contributed to Rails core</a>,
        and I
        <a href="http://www.amazon.com/CoffeeScript-Application-Development-Ian-Young/dp/1782162666/ref=sr_1_8">published a book on CoffeeScript</a>.
      %h3 You can vet me
      %p
        I've published a number of my side projects online. If you want to see some
        code,
        = link_to "there's plenty to choose from.", "code.html"
      %h3 I'm a real person
      %p
        Keeping things professional doesn't need to mean that I'm boring.
        If you'd like to learn a little more about me, the person,
        = link_to "you can do that too.", "index.html"
      %h3 Need a résumé?
      %p
        = link_to "Here is a PDF résumé.", "files/resume.pdf"
        It was last updated on
        = succeed "." do
          = date_modified( "files/resume.pdf" ).strftime "%x"
