%article.resume
  %section
    %h1 Hire me
    %p
      I am available for <span class="tech">Rails</span> (or <span class="tech">Ruby</span>)
      contract work. Need a stellar Rails developer with a proven track record?
      = link_to "Get in touch.", "mailto:dev@iangreenleaf.com"
  %section#offerings
    %ul.tabs
      %li= link_to "Existing applications", "#existing-applications"
      %li= link_to "New applications", "#new-applications"
      %li= link_to "About me", "#about-me"
    %section#existing-applications
      %h2 Your Rails app needs a Life Coach
      %p
        Your Rails app has worked hard and done pretty well for himself.
        Now it's time to take it to the next level. Life doesn't have to
        be a struggle. Let me work with your Rails app to fulfill his
        hopes and dreams.
      %p
        Let's increase your app's happiness and <em>your</em> happiness at the
        same time. Speed, features, and ease of development don't have to be at
        odds with each other. It just takes a little planning.
        Clean code means fewer bugs and happier developers. Picking the
        <em>right</em> solution is much more important than working yourself to the bone.
      %h3 priorities
      %p
        We all need a little direction at times. Maybe your Rails app has lost track of
        what matters most in his life. I'll work with you to determine what's
        truly important to your app, and help you plan how to focus development
        energy on the crucial bits without getting crowded out by distractions.
      %h3 new features
      %p
        Progress is important, but chances are your Rails app has already experienced
        the penalties of a haphazardly-implemented feature. Having priorities in
        hand is the secret to adding features that fit your budget and work
        flawlessly. I'll show you how much we can expect to accomplish in a given
        amount of time, and which corners we can safely cut to speed things up.
      %h3 performance
      %p
        Maybe your Rails app has been feeling sluggish and unmotivated lately.
        That's okay, it happens to all of us! The best optimization doesn't involve
        brute force -- it's all about identifying the true pain points that
        will give the most bang for your buck. I'll work with you to find the
        optimizations that are important to <em>you</em>, and together we'll
        have the little fellow back in fighting trim in no time.
      %h3 cleanup
      %p
        Whose closet doesn't get a little messy when we're busy?
        Your Rails app needs to focus on meeting his goals, not on the detritus
        of the past. I'll help you ferret out old cruft that's slowing
        you down, and remove it with a minimum of fuss. Let's pare your code
        down to its gleaming core.
      %h3 security
      %p
        When your Rails app was a broke student, it was okay if he left his
        door unlocked. These days, it would be wise to be a little more prudent.
        I'll check your application for common security flaws and help you fix
        them. You've never known how painless good security practices can be until
        you've tried it in Rails!
    %section#new-applications
      %h2 Give your Rails app a head start in life
      %p
        TODO
        Let's increase your app's happiness and <em>your</em> happiness at the
        same time. Speed, features, and ease of development don't have to be at
        odds with each other. It just takes a little planning.
        Clean code means fewer bugs and happier developers. Picking the
        <em>right</em> solution is much more important than working yourself to the bone.
      %h3 Predictability
      %p
        The only surprises you want out of your Rails app are the ones you
        have planned! I write idiomatic Ruby, apply industry best practices,
        and use proven technologies. This makes the code an asset rather than
        a hindrance once the initial project is finished -- any skilled Rails
        developer can pick it up and quickly
        understand what's going on. Want to contract ongoing hours with me for
        maintenance and new features? I'd be happy to. Want to bring in other
        developers, or continue the project in-house? That's great too!
        It's <em>your</em> project, so I'm going to produce code that's
        valuable to <em>you</em>.
      %h3 priorities
      %p
        Before your Rails app takes off running, let's make sure he's headed in
        the right direction. The secret to getting a project done on time and
        in style is fully understanding your priorities. I'll work with you to
        identify the technical challenges involved in your vision.
        I'll show you how much we can expect to accomplish in a given
        amount of time, and which corners we can safely cut to speed things up.
        And I'll keep an eye on the project scope as we go -- making adjustments
        is a good thing, but always with a good understanding of how they will
        affect the project as a whole.
      %h3 feedback
      %p
        The software lifecycle doesn't need to feel like pupation, where you
        hold your breath for six weeks before finding out if your Rails app is
        the beautiful butterfly you were hoping for. Agile software development
        means regular feedback cycles. You'll get to see your app take shape
        before your eyes, and we'll use the functional prototype to test and
        refine the final behavior of the application.
    %section#about-me
      %h2 Renaissance man
      %p
        I'm a full-stack Rails developer, though if forced to choose, I enjoy
        back-end work a bit more. I love working with small companies, and have
        cultivated my skills as a technological generalist accordingly.
      %h2 Experience is key
      %p
        I have an established track record working on projects
        of all sizes. I've contributed to Rails core TODO, and I published a book
        on CoffeeScript.
      %h2 You can vet me
      %p
        I've published a number of my side projects online. If you want to see some
        code,
        = link_to "there's plenty to choose from.", "code.html"
      %h2 I'm a real person
      %p
        Keeping things professional doesn't need to mean that I'm boring.
        If you'd like to learn a little more about me, the person,
        = link_to "you can do that too.", "index.html"
      %h2 Need a résumé?
      %p
        = link_to "Here is a PDF résumé.", "files/resume.pdf"
        It was last modified on
        = succeed "," do
          = date_modified( "files/resume.pdf" ).strftime "%x"
        so it may not be up-to-date beyond that.

      %p
        If you'd
        like a living document instead, please take a look at
        = succeed "." do
          = link_to "my code", "code.html"
